  
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Montserrat';
    padding-top: 60px;
    padding-bottom: 40px;
}

/* BASE.HTML */

/* NAV Header */
#header{
  z-index: 1;

  display:flex;
  width: 100%;
  position: fixed;        
  background: #333;
  color: #fff;
  top: 0;
}

nav > a{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color:white;
  text-decoration: none;
  margin-top:5px;
  margin-bottom:5px;
  margin-left: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.header_title{
  margin-right:auto !important;
  font-weight:bold;
  font-size:20px;
  border: none;
}

nav > a:hover{
  border-radius: 5px;
  background-color: blue;
  border: 1px solid orange;
}

#footer_flex{
  display:flex;
  position: fixed;
  bottom: 0;   
  width: 100%;
  padding: 10px 0;
  padding-left: 40px;
  color: #fff;
  background: #333;
  font-size:15px;
}

#footer_flex div{
  margin-right:10px;
}

#footer_flex a{
  color:white;
}

/* */


.box_display_flex{
  display:flex;
  justify-content:center;
}

.box_display_flex div{
  border: 4px solid blue;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
}

.data_title{
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 20px;
}

.data_numbers{
  font-size:xx-large;
  font-weight:normal;
  text-align:center;
}

.percent{
  font-size:large;
  font-weight:normal;
}

.base_table_style {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.base_table_style tr:nth-child(even){
  background-color: #f2f2f2;
}
.base_table_style tr:hover {
  background-color: #ddd;
} 
.base_table_style td, .base_table_style th {
  border: 1px solid #ddd;
  padding: 8px;
}
.base_table_style th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #ee8c28;
  color: white;
  text-align: left;
}

#all_table_divs{
  display:flex;
  margin-top:30px;
  margin-bottom:50px;
}

.stat_table_div{
  margin-right: 10px;
  margin-left: 10px;
  padding: 15px;
  border: 5px solid #4c4c4c;
  border-radius: 10px;
}

.table_title{
  text-align: center;
  font-weight: bold;
  font-size: xx-large;
  padding-bottom: 20px;
}

#all_tip_table_div{
  margin-bottom:20px;
}

#canvas_chart{
  width:33%;
}