  
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body{
    font-family: 'Montserrat';
}

#all_tip_table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#all_tip_table tr:nth-child(even){
  background-color: #f2f2f2;
}
#all_tip_table tr:hover {
  background-color: #ddd;
} 
#all_tip_table td, #all_tip_table th {
  border: 1px solid #ddd;
  padding: 8px;
}
#all_tip_table th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #0ac18e;
  color: white;
  text-align: left;
}