{% load static %}

<HTML>
    <head>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="{% static 'reddit_tips/style.css' %}">
        <!--
        https://datatables.net/
        Scrollable Tables have been replaced with Data Tables
        which provide far more functionality including
        sorting, filtering & choosing how many rows to load.
        The following three links are necessary for Data Tables to work.
        -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
        <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
        <script src="https://unpkg.com/@paybutton/paybutton@^1.1/dist/paybutton.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <nav id ="header">
            <a class = "header_title" href="/">CHAINTIP STATS</a>
            <a class = "header_what_is_this" id = "myBtn" href="#">What Is This?</a>
            <a class = "header_chain_tip" href="https://www.chaintip.org" target="_blank">Chaintip</a>
            <a class = "header_bch" href="https://www.bitcoin.com/get-started/what-is-bitcoin-cash/" target="_blank">Bitcoin Cash</a>
        </nav>

        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="text_response">
                    <h2>What is Chaintip and how does it work?</h2>
                    <p><a href="https://www.chaintip.org/" target="_blank">Chaintip</a> for Reddit was created by <a href="https://www.reddit.com/user/tibanne" target="_blank">u/Tibanne</a> to allow users to easily tip Bitcoin Cash (BCH) to each other directly without knowing the recipient's wallet address.</p>
                    <p>Let's say you want to tip a user for a comment or post they made on reddit:</p>
                    <ol>
                        <li>Simply reply to their comment or post and mention "<a href="https://www.reddit.com/user/chaintip" target="_blank">u/chaintip</a>".</li>
                        <li>Chaintip then sends you a private message letting you know which Bitcoin Cash address to send the tip to.</li>
                        <li>When you send any amount of BCH to that address, Chaintip will act as a middle man and hold onto the funds until the recipient claims it.</li>
                        <li>The recipient can then claim the funds by checking the private message they received from u/chaintip and replying with their Bitcoin Cash <a href="https://wallet.bitcoin.com/" target="_blank">wallet</a> address.</li>
                        <li>Chaintip sends the recipient the Bitcoin Cash and edits the original comment to let everyone know the tip was claimed.</li>
                        <li>If the recipient doesn't claim the tip within a week, it gets returned to the sender.</li>
                    </ol>
                    <p>This process is only necessary the first time a user receives funds. Once the recipient has already told u/chaintip their address, the next tip they receive will get sent directly to their wallet.</p>
                </div>
                <div class="text_response">
                    <h2>What's the point of this site?</h2>
                    <p>CHAINTIP STATS is a live dashboard which collects and analyzes the tips that are being sent. It has been designed as a high score / leaderboard to showcase information such as:</p>
                    <ul>
                        <li>Which users are tipping the most number of tips?</li>
                        <li>Which users are tipping the most value of tips (USD)?</li>
                        <li>Which tippers have been active in the most unique subreddits?</li>
                    </ul>
                    <p>By highlighting individual achievements, users will be encouraged to tip more which will help spread awareness and adoption of BCH.</p>
                    <p>CHAINTIP STATS also contains other useful information such as:</p>
                    <ul>
                        <li>How much Bitcoin Cash was tipped in total?</li>
                        <li>How much was it worth in USD at the time of the tip being sent and how much is it worth now?</li>
                        <li>Which subreddits have the most tips?</li>
                        <li>How does this month's tipping activity compare to previous months?</li>
                    </ul>
                </div>
                <div class="text_response">
                    <h2>How does this site work under the hood?</h2>
                    <p>Chaintip Stats is a web application built with Django and currently hosted on <a href="https://www.pythonanywhere.com/?affiliate_id=00a5e5d4">PythonAnywhere</a>.</p> 
                    <p>Chaintip automatically posts a public comment stating the amount and status of every tip.</p>
                    <p>Every hour, all of u/chaintip's recent comments are collected from Reddit via API using PRAW and then stored in the Django database.</p>
                    <p>Current BCH -> USD price data is retrieved from the CoinMarketCap API and stored as well.</p>
                    <p>On the back end, Django calculates and presents the data to the web page.</p>
                    <p><a href="https://datatables.net/" target="_blank">DataTables</a> is used to give the tables some extra functionality.</p>
                    <p><a href="https://www.chartjs.org/docs/master/" target="_blank">Chart.JS</a> is used to present the data in graphs and charts.</p>
                    <p>Check out the  <a href="https://github.com/roovyshapiro/chaintip_stats" target="_blank">project on github</a> to learn more.</p>
                </div>
                <div class="text_response">
                    <h2>Why is this on a subdomain of chaintip.org?</h2>
                    <p>Chaintip was created and is maintained by <a href="https://www.reddit.com/user/tibanne" target="_blank">u/Tibanne</a>, who is also the owner of the chaintip.org website.</p>
                    <p>This CHAINTIP STATS dashboard was created and is maintained by <a href="https://www.reddit.com/user/rshap1" target="_blank">u/rshap1</a>.</p>
                    <p>The "stats" subdomain was allowed to be used for this live dashboard to enable users to find it easily but they are technically two separate independent projects.
                </div>
                <div class="text_response">
                    <h2><a href="https://whybitcoincash.com/" target="_blank">Why Bitcoin Cash?</a></h2>
                    <p>Bitcoin Cash (BCH) is the most faithful implementation of Satoshi Nakamoto's Bitcoin CryptoCurrency project. BCH is focused on low fees, adoption, scalability and usage as an actual currency for everyday transcations.</p>
                    <p><em>"Bitcoin Cash is a global, peer-to-peer cryptocurrency that allows value to be sent to anyone, anywhere in the world, without intermediaries. Bitcoin Cash is not controlled by any single entity and is instead secured permissionlessly by thousands of computers around the world dedicated to maintaining the network.</em></p>
                    <p><em>Bitcoin Cash is decentralized so that no business, institution, or government can control it and no one can censor your payments. It is an alternative to government-controlled fiat currency that has been mismanaged and debased to an unprecedented degree. Bitcoin Cash, on the other hand, maintains a diminishing minting schedule and will forever be capped at 21 million coins."</em></p>
                    <p><a href ="https://bchfaq.com/faq/what-is-bitcoin-cash/" target="_blank">-https://bchfaq.com/faq/what-is-bitcoin-cash/</a></p>
                </div>
                <div class="text_response">
                    <h2>What can I actually do with Bitcoin Cash?</h2>
                    <p>Bitcoin Cash has a very expansive community and ecosystem of products and services.</p>
                    <p> <a href="https://read.cash/@tula_s/bitcoin-cash-meta-25d6f35e" target="_blank">Here's a great place </a>to start to find everything BCH related.</p>
                </div>
            </div>
        </div>

        {% block content %}
        {% endblock %}

        <div id ="footer_flex">
            <div id ="created_by"><span id="created_by_span">Created by </span><span id ="created_name">Roovy Shapiro</span></div>
            <div><a href="https://www.linkedin.com/in/roovyshapiro" target="_blank"><i class="fa fa-linkedin-square" style="font-size: 20px;"></i></a></div>
            <div><a href="https://github.com/roovyshapiro/chaintip_stats" target="_blank"><i class="fa fa-github" style="font-size: 20px;"></i></a></div>
            <div><a href="https://reddit.com/u/rshap1" target="_blank"><i class="fa fa-reddit" style="font-size: 20px;"></i></a></div>
            <div class="paybutton" to="bitcoincash:qqzcjp2mp69wv48t4qp3qa932x5485zhyqzht5djqq"></div>
        </div>

        <script type="text/javascript" src="{% static 'reddit_tips/scripts.js' %}"></script>
    </body>
</HTML>