{% extends 'reddit_tips/base.html' %}

{% block content %}

    <div id = "refresh_date_group">
        <div class = "auto_refresh_box">
            <div class='tooltip'>
                <p class="round_day_switcher">?</p>
                <p class="tooltiptext">Data is automatically retrieved from Reddit and CoinMarketCap every 30 minutes or so. However, the new data won't be displayed until the page is refreshed. Enabling the auto-refresh box will continue to automatically refresh the page at the end of the specified amount of minutes.</p>
            </div>
            <label id="number_input" for="minutes">Minutes:</label>
            <input type="number" value='15' id="minutes_input" name="minutes" min="1" max="20" onchange="update_refresh_time()">
            <input type="checkbox" id="checkbox_autoupdate" onclick="checkbox_click()" unchecked/>
            <label id="auto_update_label" for="checkbox_autoupdate">Auto Refresh</label>
        </div>
        <div>
            Starting From: <strong>{{ all_stats.start_date|date:"l, F jS Y"}}</strong>
        </div>
        <!--
        This feature to show different timeframes worth of data is a work in progress.
        Will revisit it soon as its not strictly necessary for the initial release.
        <div id ="date_selector">
            <form id = "date_form" method="GET" action=".">
                <a href="#" class="round_day_switcher" onclick="date_changer('yesterday')"><</a>
                <label for="date_start">Date:</label>
                <input type="date" name="date_start" id="date_start" min={{ all_stats.first_tip_date }} max={{ all_stats.last_tip_date }}>
                <a href="#" id = "next_day_switcher" class="round_day_switcher" onclick="date_changer('tomorrow')">></a>
                <button type="submit" class="timeframe_button" onclick="save_date()">Submit</button>
            </form>
        </div>

        <form id = "time_frame_form" method="GET" action=".">
            <div id = "day_week_month_buttons">
                <button class="timeframe_button" onclick="timeframe('Day')">Day</button>
                <button class="timeframe_button" onclick="timeframe('Week')">Week</button>
                <button class="timeframe_button" onclick="timeframe('Month')">Month</button>
                <button class="timeframe_button" onclick="timeframe('All')">All</button>
                <p>{{ all_stats.today }}</p>
            </div>
        </form>
    -->
    </div>
    <div>
        <div id="tip_data" class = "box_display_flex">
            <div>
                <p class = "data_title">All Tips<p> 
                <p class = "data_numbers">{{ all_stats.total_tips }}</p>
            </div>
            <div>
                <p class = "data_title">Claimed</p> 
                <p class = "data_numbers">{{ all_stats.claimed_tips }} <span class = "percent"> {{ all_stats.claimed_percentage }}</span></p>
            </div>
            <div>
                <p class = "data_title">Unclaimed</p>
                <p class = "data_numbers">{{ all_stats.claim_waiting }}  <span class = "percent"> {{ all_stats.claim_waiting_percent }}</span> </p>
            </div>
            <div>
                <p class = "data_title">Returned</p> 
                <p class = "data_numbers">{{ all_stats.returned_tips }} <span class = "percent"> {{ all_stats.returned_percentage }}</span></p>
            </div>
        </div>
        <div id = "price_data" class = "box_display_flex">
                <div>
                <p class = "data_title">Tip Total (BCH)</p>
                <p class = "data_numbers">{{ all_stats.total_BCH|floatformat:8 }}</p>
            </div>
            <div>
                <p class = "data_title">Tip Total (USD)</p>
                <p class = "data_numbers">${{ all_stats.total_USD|floatformat:2 }}</p>
            </div>

            <div>
                <p class = "data_title">Tip Total (USD) <span class = "percent">(current)</span></p>
                <p class = "data_numbers">${{ all_stats.total_USD_current|floatformat:2 }}</p>
            </div>
            <div>
                <p class = "data_title">BCH Price <span class = "percent">(current)</span> </p>
                <p class = "data_numbers">${{ all_stats.bch_price|floatformat:2 }}</p>
            </div>
        </div>
    </div>

    <div id="charts_flex">

        {{ all_stats.tip_per_day_result|json_script:"all_stats_tip_per_day" }}
        <div class = "canvas_chart">
            <canvas id="tip_per_day"></canvas>
        </div>

        {{ all_stats.total_claimed_returned|json_script:"all_stats_total_claimed_returned" }}
        <div class = "canvas_chart">
            <canvas id="total_claimed_returned"></canvas>
        </div>

        {{ all_stats.value_per_day_result|json_script:"all_stats_value_per_day" }}
        <div class = "canvas_chart">
            <canvas id="value_per_day"></canvas>
        </div>

    </div>

    <div id = "all_table_divs">
        <div id = "tipper_table_div" class="stat_table_div">
            <p class = "table_title">Tippers  <span class = "percent">(# of tips)</span></p>
            <table id="all_tipper_table" class="data_table base_table_style">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipper</th>
                        <th>Tips</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipper,tip in all_stats.all_senders %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href='https://reddit.com/{{ tipper }}'>{{ tipper }}</a></td>
                            <td>{{ tip }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id = "tipper_table_div" class="stat_table_div">
            <p class = "table_title">Tippers  <span class = "percent">(value of tips)</span></p>
            <table id="all_tipper_table" class="data_table base_table_style">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Tipper</th>
                        <th>BCH</th>
                        <th>USD</th>
                        <th>USD (current)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tipper, tipper_values in all_stats.sender_amount.items %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href='https://reddit.com/{{ tipper }}'>{{ tipper }}</a></td>
                            <td>{{ tipper_values.bch|floatformat:8 }}</td>
                            <td>${{ tipper_values.usd|floatformat:2 }}</td>
                            <td>${{ tipper_values.usd_current|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div id = "receiver_table_div" class="stat_table_div">
            <p class = "table_title">Recipients  <span class = "percent">(# of tips)</span></p>
            <table id="all_receiver_table" class="data_table base_table_style">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Recipient</th>
                        <th>Tips</th>
                    </tr>
                </thead>
                <tbody>
                    {% for recipient,tip in all_stats.all_receivers %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href='https://reddit.com/{{ recipient }}'>{{ recipient }}</a></td>
                            <td>{{ tip }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id = "sub_table_div" class="stat_table_div">
            <p class = "table_title">Subreddits  <span class = "percent">(# of tips)</span></p>
            <table id="all_sub_table" class="data_table base_table_style">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Subreddit</th>
                        <th>Tips</th>
                    </tr>
                </thead>
                <tbody>
                    {% for sub,tip in all_stats.all_subs %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td><a href='https://reddit.com/r/{{ sub }}'>{{ sub }}</a></td>
                            <td>{{ tip }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div id="all_tip_table_div" class = "stat_table_div">
        <table id="all_tip_table" class="data_table base_table_style">
        <div id = "title and button">
            <div>
                <p class = "table_title">All Tips</p>
            </div>
            <div id = "export">
                <a class = "timeframe_button" href="/export">EXPORT to CSV</a>
            </div>
        </div>
            <thead>
                <tr>
                    <th>#</th>
                    <th>Sender</th>
                    <th>Receiver</th>
                    <th>Subreddit</th>
                    <th>BCH</th>
                    <th>USD</th>
                    <th>Status</th>
                    <th>Created (UTC)</th>
                    <th>BCH TX</th>
                </tr>
            </thead>
            <tbody>
                {% for tip in all_tips %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href='https://reddit.com/{{ tip.sender }}'>{{ tip.sender }}</a></td>
                        <td><a href='https://reddit.com/{{ tip.receiver }}'>{{ tip.receiver }}</a></td>
                        <td><a href='{{ tip.parent_comment_permalink }}'>{{ tip.subreddit }}</a></td>
                        <td>{{ tip.coin_amount|floatformat:8 }}</td>
                        <td>${{ tip.fiat_value|floatformat:2 }}</td>
                        {% if tip.claimed %}
                            <td>Claimed</td>
                        {% elif tip.returned %}
                            <td>Returned</td>
                        {% else %}
                            <td>Sent</td>
                        {% endif %}
                        <td>{{ tip.created_datetime }}</td>
                        <td><a href='{{tip.blockchain_tx}}'>{{ tip.blockchain_tx }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}